body{
    background-color: rgb(189, 152, 96);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 45px;
    color: rgb(23, 83, 85);
    text-align: center;
}
a {
    color: rgb(0, 0, 0);
    font-size: 30px;

}